@import 'config/variables.scss';

.text {
    font-family: Roboto;
    color: $primaryColor;
    letter-spacing: 1px;
}

.textSmall {
    font-size: 14px;
}

.textLarge {
    font-size: 18px;
}

.textLargeAF {
    font-size: 8em;
}

.textShadow {
    text-shadow: 0 0 13px rgba(150, 150, 150, 1);
}

.textLight {
    font-weight: 300;
}

.textBold {
    font-weight: 700;
}

.textItalic {
    font-style: italic
}

.textWarning {
    color: $warningColor;
}

.textEllipsis {
    text-overflow: ellipsis;
}

.textUppercase {
    text-transform: uppercase;
}

.textStrikethrough {
    text-decoration: line-through;
}

.textWhite {
    color: rgb(240, 240, 240);
}

.textNoMargin {
    margin: 0;
}