@import 'config/variables.scss';

h1 {
    font-size: 45px;
}

.heading {
    font-family: Roboto;
    color: $colorPrimary;
    letter-spacing: 1px;
}

.headingLight {
    font-weight: 300;
}

.headingBold {
    font-weight: 900;
}

.headingItalic {
    font-style: italic
}

.headingWarning {
    color: red;
}

.headingEllipsis {
    text-overflow: ellipsis;
}

.headingUppercase {
    text-transform: uppercase;
}

.headingStrikethrough {
    text-decoration: line-through;
}

.headingWhite {
    color: rgb(240, 240, 240);
}