@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900,900i&display=swap');

$maxWidth: 800px;

$colorWhite: #ffffff;
$colorText: #333333;
$colorBackground: #EDEAE5;
$colorAccent: #FCE181;
$colorAccentSecondary: #FEF9C7;
$colorPrimary: #026670;
$colorSecondary: #9FEDD7;