@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900,900i&display=swap');

$primaryColor: rgb(46, 46, 46);
$warningColor: rgb(214, 52, 52);
$heroImage-large: '/images/intro.jpg';
$maxWidth: 800px;