@import '../../config/variables.scss';

.background {
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, $colorPrimary 0%, $colorBackground 100%);
}

.container {
    display: grid;
    justify-content: center;
}

.avatar {
    text-align: center;
}

.box {
    display: grid;
    justify-items: center;

    background-color: $colorWhite;
    padding: 20px;
}

.header {
    justify-content: center;
    background-color: white;
    margin: 30px 0px;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    margin: 15px 5px;
    background-color: $colorSecondary;
}
